/* Clearfix
---------------------------------------------- */

%clearfix {

    &:before,
    &:after {

        content: ' ';
        display: table;

    }

    &:after {

        clear: both;

    }

}

%flat-list {

    list-style-type: none;
    padding-left: 0;

}


#sidebar .wp-mailchimp-subscribe-class {

    .items {

        @extend %flat-list;

    }

    .item {

        width: 100%;

    }

    .label {

        // TODO: IE9 needs a label
        display: none;

    }

    .control {

        width: 100%;

    }

    .actions {

        @extend %flat-list;

    }

    .action {

        text-align: right;

    }

}