#sidebar .wp-mailchimp-subscribe-widget {
    .actions,
    .items {
        @include scut-list-unstyled(false);
    }

    .control,
    .item {
        width: 100%;
    }

    .label {
        display: none;
    }

    .action {
        text-align: right;
    }

    .message {
        font-size: 90%;
        font-style: italic;
    }
}
